{% extends "base.html" %}

{% block content %}

<div id="signupcontainer">
    <div id="signupbox">
        <h4 id="createacctext">Create your Open Forum account</h4>
        <input id="create_acc_email" class="signupinput" type="email" placeholder="Email">
        <input id="create_acc_username" class="signupinput" type="text" placeholder="Username" autocomplete="new-username">
        <input id="create_acc_password" class="signupinput" type="password" placeholder="Password" autocomplete="new-password">
        <input id="create_acc_repeat_password" class="signupinput" type="password" placeholder="Repeat Password" autocomplete="new-password">
        <a class="sign" id="create_acc">Create account</a>
    </div>
</div>

<script src="{{ url_for('static',filename='js/signup.js') }}"></script>
{% endblock %}