body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

input { font-size: smaller }

textarea:focus, input:focus{
    outline: none;
    overflow:hidden
}

p {
    padding: 0;
    margin-top: 5px;
    padding-right: 10px;
    font-size: 14px;
}
a {
    padding: 0;
    margin-top: 5px;
    padding-right: 10px;
    font-size: 14px;
}
h4 {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}
h5 {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    
}

#web{
    height: 100vh; 
    width: 80%;
    z-index: 50;
}

#chat{
    height: 100vh;
    width: 400px;
    background-color: #343432;
    overflow: hidden

}

#chathead{
    background-color: #1F1F1E;
    height: 75px;
}

#profile{
    background-color: #1F1F1E;
    height: 50px;
    display: flex;
    align-items: center;
}

#brand{
    width: 47%;
    height: 100%;
    color: #E9FFF9;
    padding-left: 10px;

}

#info{
    height: 100%;
    width: 40%;
    display: none;
    justify-content: right;
    align-items: center;
    padding-right: 15px;
}

#picture{
    height: 45px;
    width: 45px;
    border: solid 1px black;
    border-radius: 50%;
    margin-right: 5px;
    display: none;
    cursor: pointer;
}

.username{
    cursor:pointer;
}

#place{
    font-family: 'Roboto', sans-serif;

}

#placebox{
    width: 99%;
    height: 22px;
    text-align: center;
    opacity: 0.4;
    border: solid 1px black;
    border-radius: 0px;
    border-right: none;
    border-left: none;
}

#chatarea{
    height: 91%;
    display: flex;
    flex-direction: column;
   

}

#comments{
    height:auto;
    width: 100%;
}
#post{
    width: 100%;
    height: 100px;
    
}
#poster{
    height:19px;
    width: 96%; 
    opacity: 0.6;
    border: none;
    padding-left: 5px;
    resize: none;
    margin: none;
    font-family: 'Lato', sans-serif;
    background-color: white;
    
}
#poster:focus{
    opacity: 1;
}

.far{
    margin: 5px;
    font-size: 20px;
    color: #E9FFF9;
}
.fas{
    margin: 5px;
    font-size: 20px;
    color: #E9FFF9;
}

.comment{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-size: normal;
    margin-top: 5px;
    padding-left: 5px;
}

.userpic{
    height: 40px;
    width: 40px;
    border: solid 1px black;
    border-radius: 50%;
    cursor:pointer;
    margin-right: 5px;
}
.text-box{
    width: 100%;
    height: auto;
    color: white;

    
}

.comment-interact{
    border-top: solid 1px #1F1F1E;
    display: flex;
    align-items: center;
    margin: auto;
}

.numbers{
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: smaller;
    margin: 0;
    color: #D6FFB7;
}


.fa-chevron-up{
    padding: 0px;
    margin: 2px;
    color: #E9FFF9;
    cursor: pointer;
}
.fa-chevron-down{
    padding: 0px;
    margin: 2px;
    color: #E9FFF9;
    cursor: pointer;
}

.respond{
    padding: 0px;
    margin: 2px;
    color: #E9FFF9;
    position: absolute;
    right: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: smaller;

}
.respond:hover{
    cursor: pointer;
}

.comment{
    margin-bottom: 5px;
}

#hideopenforum{
    padding: 2px;
    margin: 0px;
    font-size: 15px;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-timing-function: ease-in;
    transition: 0.5s;

}

#hideopenforum:hover{
    background-color: #001011;
    color: white;
}

.response-box{
    display: flex;
    flex-direction: row;
    margin-top: 2px;

}

.response-text{
    width: 85%;
    height: auto;
    padding-left: 5px;

}

.responsepic{
    height: 35px;
    width: 35px;
    border: solid 1px black;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 5px;
}

.at{
    background-color: #001011;
    border-radius: 1px;
    padding-right: 2px;

}

@media (max-width: 500px){
    #web{
        display: none;
        width: 0px;
    }

    #chat{
        height: 100vh;
        width: 100%;
    }

    #hideopenforum{
        height: 100vh;
    }
}

@media (min-width: 500px){

}

#signbox{
    display:flex;
    flex-direction: row;
    margin-right: 10px;
}

.sign{
    display:inline-block;
    padding:0.5em 2em;
    padding-top: 0.35em;
    border:1px solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    width: auto;
    font-size: 13px;
    height: 25px;
    white-space: nowrap;

}
.sign:hover{
   color:#DDDDDD;
   border-color:#DDDDDD;
}

.sign:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
}  

#notification-button{
    position:relative;
    cursor: pointer;
}

#notificationbox{
    display: none;
    position: absolute;
    width: 230px;
    height: auto;
    right: 0;
    background-color: #1F1F1E;
    border: 1px solid black;
    border-radius: 2px;
    z-index: 999;
}

.notification{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 7px;
    width: auto;
}

.notificationtext{
    width:auto;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
#no-notifications{
    position: absolute;
    right: -6px;
    top: 16px;
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    color: #F71735;
}

.textnotificationbox{
    padding: 0px;
    margin: 0px;
}

.timer{
    opacity: 0.6;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    margin-left: 5px;
}

.responseinput{
    display: none;
    height:18px;
    width: 95%; 
    opacity: 0.6;
    border: none;
    padding-left: 5px;
    resize: none;
    margin: none;
    font-family: 'Lato', sans-serif;
    background-color: white;
}

.responseinput:focus{
    opacity: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


#signupcontainer{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #1F1F1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Lato', sans-serif;

    
}

#signupbox{
    padding: 10px;
    margin: 10px;
    width: 600px;
    height: auto;
    background-color: #343432;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;

}

#YYYYMMDD{
    display: flex;
    flex-direction: row;
    justify-content: center;
    outline: none;
    padding: 10px;
}

.birthdate{
    width: 30%;
}

#createacctext{
    padding-bottom: 20px;
    color: white;
}

.signupinput{
    width: 50%;
}

#signupacc{
    width: 30%;
}

#sign_in_container{
    display: none;
    align-items: center;
    margin: 2px;
    width: 100%;
}

#sign_in_field_box{
    width: 100%;
}

.main_signin{ 
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: #343432;
    border: none;
    width: 95%;
}

#main_signin_button{
    width: 80px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}