{% extends "base.html" %}

{% block content %}

<header>
    <div id="head"></div>
</header>

    <div id="main">
    <object id="web" type="text/html" data="https://www.wikipedia.org/" >   
    </object>
    <i class="fas fa-chevron-right" id="hideopenforum"></i>

    <div id="chat">
      <div id="chathead">
        <div id="profile">

          <div id="brand"><p>Open Forum</p></div>

          <div id="signbox"> 
            <a href="#" class="sign" id="signin">Sign in</a>
            <a href="/signup" class="sign">Create account</a>
          </div>

          <div id="info">

            <i class="fas fa-globe-europe"></i>
            <i class="fas fa-envelope"></i>
            <i class="fas fa-bell" id="notification-button">
              
              <div id="no-notifications">{{ user.numberofnotifications }}</div>

              <div id="notificationbox">

                {% for notifications in notifications %}
                <div class="notification">
                  <img class="responsepic" src="{{ url_for('static', filename=notifications.image) }}">
                  <div class="textnotificationbox">
                  <p class="notificationtext"><block class="at" style="{{ notifications.color }}">{{ notifications.from.user }}</block> {{ notifications.text }}</p>
                  <p class="timer">{{ notifications.time }}</p>
                  </div>
                </div>
                {% endfor %}

              </div>
            </i>
        
          </div>
          <img id="picture" src="{{ url_for('static', filename='images/profile.jpg') }}">

        </div>

        <div id="place">
          <input id="placebox" type="text" placeholder="https://www.wikipedia.org/">
        </div>
      </div>

        <div id="chatarea"> 
          <div id="comments">

            <div class="comment">
              <div class="text-box">
                <textarea id="poster" placeholder="Comment..."></textarea>
                <p class="respond" id="comment">Comment</p>
                </div>
              </div>
            </div>

            {% for comments in comments %}
            <div class="comment">
                <img class="userpic" src="{{ url_for('static', filename=comments.image) }}">
                <div class="text-box">
                <h4 class="username" style="{{ comments.color }}">{{ comments.author.username }}</h4>
                <p>{{ comments.comment }}</p>
                <textarea class="responseinput" id="replyinputID{{comments.commentID}}" type="text" placeholder="Respond..."></textarea>
                <div class="comment-interact">
                    <p class="numbers">{{ comments.score }}</p><i class="fas fa-light fa-chevron-up"></i> <i class="fas fa-light fa-chevron-down"></i><p class="timer">{{ comments.time }}</p> <p id="{{comments.commentID}}" class="respond">Respond</p>
                </div>

                {% if comments.response %}
                <div class="response-box">
                    <img class="responsepic" src="{{ url_for('static', filename=comments.image) }}">
                    <div class="response-text"> 
                        <h5 class="username" style="{{ comments.response.color }}">{{ comments.response.username }}</h5>
                        <p><block class="at username">{{ comments.response.respondto }}</block> {{ comments.response.comment }}</p>
                        <textarea class="responseinput" id="replyinputID{{comments.response.commentID}}" type="text" placeholder="Respond..."></textarea>
                        <div class="comment-interact">
                        <p class="numbers">{{ comments.response.score }}</p><i class="fas fa-light fa-chevron-up"></i> <i class="fas fa-light fa-chevron-down"></i> <p class="timer">{{ comments.response.time }}</p> <p id="{{comments.response.commentID}}" class="respond">Respond</p>
                        
                        </div>
                    </div>
                </div>
                {% endif %}
                
                </div>
            </div>
            {% endfor %}

        </div>


    </div>
  </div>

  </div>

{% endblock %}