{% extends "base.html" %}

{% block content %}

<div id="signupcontainer">
    <div id="signupbox">
        <h4 id="createacctext">Reset your Open Forum password</h4>
        <input id="reset_acc_password" class="signupinput" type="password" placeholder="Password" autocomplete="new-password">
        <input id="reset_acc_repeat_password" class="signupinput" type="password" placeholder="Repeat Password" autocomplete="new-password">
        <a class="sign" id="reset_password">Reset password</a>
    </div>
</div>

<script src="{{ url_for('static',filename='js/resetpassword.js') }}"></script>
{% endblock %}