{% extends "base.html" %}

{% block content %}

<div id="signupcontainer">
    <div id="signupbox">
        <h4 id="createacctext">Create your account</h4>
        <input type=email placeholder="Name">
        <input type=password placeholder="Password">
        <div id="YYYYMMDD">
            <input type="number" min="1900" max="2099" step="1" value="YYYY" placeholder="YYYY" class="birthdate" />
            <input type="number" min="1" max="12" step="1" value="MM" placeholder="MM" class="birthdate"/>
            <input type="number" min="1" max="31" step="1" value="DD" placeholder="DD" class="birthdate"/>
        </div>
        <a href="#" class="sign">Create account</a>
    </div>
</div>

{% endblock %}